.home {
}

.home {
}
.home__container {
  margin: 0;

  background-color: var(--header-black-color);
}
.container {
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin-bottom: 120px;
}
.left {
}
.hero-item {
  color: var(--white-color);
  opacity: 0.5;
  font-size: 14px;
  letter-spacing: 10px;
  padding-bottom: 24px;
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.hero-text {
  width: 100%;
  max-width: 349px;
  font-size: 15px;
  line-height: 25px;
  color: var(--white-color);
  opacity: 0.75;
  padding-bottom: 40px;
}
.heroBtn {
  color: var(--white-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  background: var(--main-color);
}
.right {
}

.cards {
  max-width: 1050px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 168px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  background-color: var(--secondary-color);
}
.card-img {
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.card-img__image {
}
.card__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 13px;
  padding-bottom: 30px;
}
.card-title {
  padding-bottom: 15px;
}

.speaker-zx9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  gap: 138px;
  margin-bottom: 48px;
  padding-left: 119px;
  padding-right: 95px;
}

.left {
  padding-top: 96px;
}
.right {
}
.spaker-zx9__title {
  color: var(--white-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.spaker-zx9__text {
  width: 349px;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  padding-bottom: 40px;
}
.speaker-zx9__btn {
  width: 160px;
  height: 48px;
  background-color: var(--black-color);
  color: var(--white-color);
}

.speaker-zx7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}
.speaker-zx7__item {
    position: absolute;
    z-index: 99999;
    padding-left: 95px;
}
.apeaker-zx7__title {
  color: var(--black-color);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.speaker-zx7__btn {
    z-index: 9999999;
  width: 160px;
  height: 48px;
  border: 1px solid var(--black-color);
  background: #d5d5d5;
}
.spaker-zx7__img {
    border-radius: 8px;
    position: relative;
    max-width: 1110px;
}

.spaker-zx7__img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

.earhones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 200px;
}
.earphones-img img {
    border-radius: 8px;
background: var(--secondary-color);
}
.earphones-item {
  width: 540px;
  height: 320px;
  border-radius: 8px;
  background: var(--secondary-color);
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.earphones-item__title {
  color: var(--black-color);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.earphones-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
